<ion-header [translucent]="true" class="glass-header">
  <ion-toolbar class="glass-toolbar" [class.tint-danger]="color === 'danger'">
    <ion-icon
      slot="start"
      class="header-leading-icon ion-margin"
      [name]="icon"
    ></ion-icon>
    <ion-title>{{ title }}</ion-title>
    <ion-button
      [class.invisible]="deleteButtonInvisible"
      slot="end"
      class="header-action"
      fill="clear"
      color="danger"
      (click)="clearStorage()"
      aria-label="Borrar todos"
    >
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="actionButtonIcon"
      slot="end"
      class="header-action"
      fill="clear"
      color="primary"
      (click)="actionButtonCallback?.()"
      aria-label="Acción"
    >
      <ion-icon slot="icon-only" [name]="actionButtonIcon"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
