<app-header title="Urgente" icon="alert" color="danger"></app-header>

<ion-content>
  <ng-container *ngIf="urgentProducts().length; else empty">
    <ion-grid>
      <ion-list>
        <ion-row size="12" size-md="6">
          <ng-container *ngFor="let product of urgentProducts()">
            <ion-item>
              <ion-label>{{ product.name }}</ion-label>
              <ion-checkbox
                slot="end"
                [(ngModel)]="product.checked"
                (ionChange)="handleToggleChange(product.name)"
              >
              </ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-row>
      </ion-list>
    </ion-grid>
  </ng-container>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="addProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #empty>
  <div class="empty">
    No hay productos urgentes. Añade
    <span
      class="text-red-500 hover:text-red-800 cursor-pointer"
      (click)="addProduct()"
      >aquí</span
    >
    lo que necesites comprar solo una vez.
  </div>
</ng-template>
