<ion-tabs>
  <ion-tab-bar
    class="w-80 md:w-96 shadow-2xl rounded-full m-auto border border-slate-200 !bg-slate-100 mb-4"
  >
    <ion-tab-button tab="despensa">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Despensa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="urgente">
      <ion-icon aria-hidden="true" name="alert-circle-outline"></ion-icon>
      <ion-label>Urgente</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
