<app-header
  title="Despensa"
  icon="home"
  [deleteButtonInvisible]="false"
></app-header>

<ion-content>
  <ng-container *ngIf="pantryProducts().length; else empty"></ng-container>
  <ion-grid class="p-0">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-list>
          <ng-container *ngFor="let product of pantryProducts()">
            <ion-item-sliding>
              <ion-item>
                <div
                  class="flex justify-between items-center w-full h-full hover:bg-gray-100 cursor-pointer"
                  (click)="dataService.toggleStatus(product.name)"
                >
                  <span class="truncate">{{product.name}}</span>

                  <div class="flex flex-nowrap items-center gap-2">
                    <span
                      [class.invisible]="product.checked"
                      class="min-w-14 text-center font-bold bg-gray-200 border hover:bg-gray-400 hover:text-white cursor-pointer rounded-xl m-2 py-2"
                      (click)="addQuantity(product.name)"
                      StopPropagation
                      >x{{product.quantity}}</span
                    >

                    <ion-toggle
                      slot="end"
                      [checked]="product.checked"
                      (ionChange)="dataService.toggleStatus(product.name)"
                      StopPropagation
                    >
                    </ion-toggle>
                  </div>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option
                  color="danger"
                  (click)="dataService.delete(product.name)"
                >
                  Borrar
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #empty>
  <div class="empty">
    No hay productos en tu despensa. Introduce tus productos habituales para
    añadirlos a la lista cuando necesites comprarlos.
  </div>
</ng-template>
