.quantity {
font-weight: bold;
 padding: 10px;
 margin: 10px;
 background-color: rgba(112, 128, 144, 0.212);
 border-radius: 10px;
 border: 1px solid rgba(0, 0, 0, 0.24);
}

.quantity:hover {
 background-color: rgba(112, 128, 144, 0.342);
}


.custom-item:hover {
  background-color: rgba(112, 128, 144, 0.212) !important;
}

.custom-item {
width: 100% !important;
height: 100%;
align-items: center;

display: flex;
justify-content: space-between;
}
