<ion-header [translucent]="true">
  <ion-toolbar [color]="color">
    <ion-icon
      slot="start"
      class="ion-margin"
      class="ion-padding"
      [name]="icon"
      size="large "
    ></ion-icon>
    <ion-title>{{ title }}</ion-title>
    <ion-button
      [class.visible]="buttonVisible"
      slot="end"
      class="ion-margin"
      color="danger"
      (click)="clearStorage()"
    >
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
