<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-icon
      slot="start"
      class="ion-margin"
      class="ion-padding"
      name="reader"
      size="large "
    ></ion-icon>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let product of products()">
      <ion-label>{{ product.name }}</ion-label>
      <ion-checkbox slot="end" (ionChange)="handleToggleChange(product.name)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
